

<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <section id="services" class="services section-bg">
      <hr><br>         
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="section-title justify-content-center">
            <h2>★★★ Remis Ya! Argentina ★★★ </h2>
          </div>
            <div class="col-md-10 col-lg-8 col-xl-7">
              <br><br>
                 <h3> Sobre nosotros </h3>
                <p center><b>¡Hola! ¡Somos Remis Ya!</b><hr>
                <p> Con nuestro servicio te facilitamos el pedido de remis, ya que estamos en contacto con varias agencias de Remis. </p>
                <p>¿Como funciona Remis Ya?<p>
                    Es simple, una vez que realizas el pedido de un vehículo para trasladarte por la ciudad de Córdoba a través de nuestra página, nosotros enviamos esta solicitud a nuestras agencias amigas de Remis para que acepten la solicitud y te envíen un coche, de esta forma tendrás a tu disposición el móvil de la agencia que esté con más vehículos libres por tu zona, es decir que tendrás un coche a tu disposición lo antes posible sin tener que llamar a varias agencias para saber quien puede enviarte un móvil más rápido.</p>
            </div>
        </div>
    </div>
    <br>
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-alarm"></i></div>
                  <h4>Rápido</h4>
                  <p>En cuestión de segundos te aseguramos un transporte sin demoras, elegimos la mejor vía para que llegues a destino en el menor tiempo.</p>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-geo-alt"></i></div>
                  <h4>Seguro</h4>
                  <p>Contamos con rastreo satelital donde podrás ver el recorrido del coche,además tenes todo el perfil del chofer que esta a cargo del viaje.</p>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-journal-check"></i></div>
                  <h4>Fácil</h4>
                  <p>Solamente con un click, tenés la posibilidad de conseguir un viaje.<strong>Lo antes posible.</strong></p>
               </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 d-flex align-items-stretch">
               <div class="icon-box">
                  <div class="icon mb-3"><i class="bi bi-code-square"></i></div>
                  <h4>Suscripciones mensuales</h4>
                  <p>Al registrarse, podrá utilizar nuestros servicios y comprar suscripciones mensuales.</p>
               </div>
            </div>
         </div>
      </div>
      <div id="tiendada" class="container py-5">
    <div class="row mt-5">
        <div class="bg-app">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 mt-4 text-center">
                        <h2 class="fw-bold">Tienda de Remis Ya!</h2>
                        <p class="text-lg">En nuestra tienda tiene la posibilidad de adquirir el abono mensual que más se adapte a su necesidad y bolsillo.</p>
                    </div>
                </div>        
                <div class="row mt-4">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="card shadow mt-4 mt-sm-0">
                            <div class="pt-3 m-auto">
                                <img src="../../../../assets/img/Okok.jpg" width="90" height="90" class="avatar-md circle m-auto" alt="...">
                            </div>
                            <div class="card-body text-center pt-0">
                                <div class="py-2 star-pulse">
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                </div>
                                <h5 class="card-title font-weight-bold">Plan Mensual</h5>
                                <p class="card-text">
                                    Con el plan mensual usted podrá adquirir un abono que cubra un número específico de viajes que esten estipulados previamente, es decir que ya tengan un origen y un destino establecidos. Es ideal para traslados a obligaciones diarias como trabajo, escuela, etc.
                                    No dude en consultar!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="card shadow mt-4 mt-sm-0">
                            <div class="pt-3 m-auto">
                                <img src="../../../../assets/img/Okok.jpg" width="90" height="90" class="avatar-md circle m-auto" alt="...">
                            </div>
                            <div class="card-body text-center pt-0">
                                <div class="py-2 star-pulse-2">
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                </div>
                                <h5 class="card-title font-weight-bold">Plan abono libre</h5>
                                <p class="card-text">
                                    Barajando la posibilidad de que necesite hacer viajes durante el mes, pero no sepa la cantidad de viajes que necesitara o si su destino varía según cada viaje le presentamos el abono libre, donde usted podra hacer hasta 30 viajes mensuales sin importar el destino, es decir que los viajes que efectúe serian con kilometros libre.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="card shadow mt-4 mt-sm-0">
                            <div class="pt-3 m-auto">
                                <img src="../../../../assets/img/Okok.jpg" width="90" height="90" class="avatar-md circle" alt="...">
                            </div>
                            <div class="card-body text-center pt-0">
                                <div class="py-2 star-pulse-3">
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                    <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                                </div>
                                <h5 class="card-title font-weight-bold">Plan encomienda</h5>
                                <p class="card-text">
                                    Si lo que necesita es trasladar paquetes o encomiendas durante el transcurso del mes podra acceder a este plan mensual exclusivo para encomiendas donde podra enviar y recibir paquetes sin necesidad de trasladarse, ya que nuestros choferes se encargaran de cuidarlas.
                                </p>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
        <hr>
    </div>
 </div>
    <div class="mainbox">
      <div class="msg"><p>Volver al <a href="/">Inicio</a> .</p></div>
        </div>