button {
    background-color: #00A539;
    border:#016492
}

button:hover {
    background-color: #019285 !important;
    cursor: pointer;
    border:#016492
}

.col-12 {
    background-color: #00A539 !important;
    border:#016492
}

.p-button:hover {
    background-color: #019285 !important;
    cursor: pointer;
    border:#016492
}